.users-page {
  display: flex;
  flex-direction: column;

  .users-page-table {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    .table {
      width: 100%;
    }
  }

  table {
    th:nth-last-child(-n+2) {
      width: 30px;
    }
  }

  .modal-input-zone {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px;
    border-radius: 16px;
    padding: 1rem;
  }
}