@import (reference) "../../styles/style.less";

.sidebar {
  width: 200px;
  height: 100vh;
  border-left: 1px solid gray;
  color: aliceblue;

  .list {
    padding-left: 1rem;
  }

  a {
    color: aliceblue;
    text-decoration: none;
  }

  .link {
    display: flex;
    margin: 0 0 1rem 0;
    .icon {
      margin-right: .3rem;
      align-items: center;
    }
  }
}