.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  .project-navi {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    .project-title {
      display: flex;
      color: #222830;
      .title-header {
        margin-left: .5rem;
        font-size: 20px;
      }
    }
  }
    .user-control {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 1rem;
      .current-user {
        display: flex;
        padding-bottom: .2rem;
        .icon {
          margin-top: 3px;
        }
        .user {
          margin-left: .5rem;
        }
      }
    }
}