.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: 0 0 5px;
  border-radius: 16px;
  padding: 0.5rem;
  width: 20%;
  .input-zone {
    margin: 1rem;
  }
  .content-modal {
    justify-content: center;
    .modal-input-zone {
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 5px;
      border-radius: 16px;
      padding: 1rem;
    } 
  }
}